*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none !important;
}
.dashboard{
	/*padding: 150px 0;*/
    padding: 50px 0;
}
.dashboard ul li a{
	display: block;
	font-size: 16px;
}
.dashboard ul li a:hover,
.dashboard ul li a.active{
	font-weight: 700;
}


.dropdown-class,
.setting-tab.active{
    height: auto !important;
    transition: 0.25s all ease-in-out;
}
.dropdown-class.active .menu-drop{
    display: block;
}
.menu-drop{
    margin: 10px;
    display: none;
}
.menu-drop li{
    border-bottom: 1px solid #ddd;
}
.menu-drop li:last-child{
    border-bottom: none;
}
.menu-drop li a{
    padding: 5px 10px;
    font-size: 12px !important;
    line-height: 16px;
    display: block;
    color: #999
}
.menu-drop li a.active-nav{
    font-weight: bold
}
.menu-drop li a.active-nav,
.menu-drop li a:hover{
    background: #fff;
    opacity: .7;
}


.signup-area{
	margin: 50px 0; 
}
.signup-form{
	border: 1px solid rgba(122, 68, 148, 0.5);
	padding: 10px 30px;
}
.signup-form h3{
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}
.small-font span{
	color: red;
	font-size: 12px;
	font-weight: bold; 
}

.form-title {
    padding: 16px 0 9px;
    text-align: center;
}

.form-title h2 {
    font-size: 24px;
    line-height: 30px;
    color: #000;
    text-transform: none;
    font-weight: normal;
    margin: 0 0 4px;
    display: inline-block;
    border-bottom: 2px solid #eee; 
    padding-bottom: 5px;
    background: none;
}

.form-title h4 {
    font-size: 10px;
    line-height: 20px;
    color: rgba(0, 0, 0, .6);
    text-transform: uppercase;
    font-weight: normal;
    margin: 0
}
.form-title h4 strong {
    font-weight: normal;
    color: #000
}
