/* GOOGLE FONTS */

@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
/* Global properties ======================================================== */

a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}

::selection {
    background: #888888 !important;
    color: #fff
}
::-moz-selection {
    background: #888888 !important;
    color: #fff
}
.clear{clear:both;}
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}
ul,p{
    padding: 0;
    margin: 0;
}
body {
    background: #fff;
    border: 0;
    font: 14px 'Roboto', Arial, Helvetica, sans-serif;
    color: #636363;
    min-width: 320px;
}
.header{}
.header .top-bar-head{
    padding: 5px 0;
    background: #888;
}
.header .top-bar-head a{
    color: #fff;
    font-size: 12px;
}
.header .top-bar-head .social {
    text-align: right;
}
.header .top-bar-head .social ul li{
    display: inline-block;
    margin-left: 10px;
}
.header .top-bar-head .social ul li a{
    font-size: 13px;
}
.header .top-bar-head a:hover{
    opacity: 0.7;
}
.header .menu-bar{
    /*padding: 10px 0;*/
    height: 80px;
    -webkit-box-shadow: 0 6px 4px -6px rgba(0,0,0,.5);
       -moz-box-shadow: 0 6px 4px -6px rgba(0,0,0,.5);
            box-shadow: 0 6px 4px -6px rgba(0,0,0,.5);
}
.header .menu-bar .logo{
    /*height: 80px;*/
    width: 200px;
    line-height: 80px;
}
.header .menu-bar .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header .menu-bar .menu{
    text-align: right;
}
.header .menu-bar .menu ul li{
    display: inline-block;
    /*margin-left: 10px;*/
}
.header .menu-bar .menu ul li a{
    color: #666;
    display: block;
    line-height: 80px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    border-left: 1px solid #eee;
    /*background: #fff;*/
}
.header .menu-bar .menu ul li:last-child a{
    border-right: 1px solid #eee;
}
.header .menu-bar .menu ul li a:hover{
    /*opacity: 0.7;*/
}
.dropdown-li{
    position: relative;
}
.dropdown-li ul{
    display: none;
    position: absolute;
    z-index: 1000;
    /*left: 0px;*/
    right: 0px;
    width: 150px;
    text-align: left;
    border-radius: 5px;
    transition: all 0.4s ease-in-out; 
    /*border-top: 1px solid #000;*/
    background: #fff;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
    border-radius: 0 0 5px 5px  !important;
}
.dropdown-li:hover > ul{
    display: block;
} 
.dropdown-li ul li{
    display: block !important;
}
.dropdown-li ul li a{
    padding: 15px 10px !important;
    line-height: 0px !important;
    border: none !important;
}
.dropdown-li ul li a:hover{
    color: #000 !important;
}

.main-slider{
    height: 500px;
    position: relative;
}
.main-slider .carousel,
.main-slider .carousel-inner{
    width: 100%;
    height: 100%;
} 
.main-slider .carousel-inner .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    -khtml-object-fit: cover;
}
.about{
    padding: 50px 0;
    background: #f5f5f5;
    text-align: center;
}
.about h3{
    font-size: 30px;
}
.about p{
    font-size: 16px;
    line-height: 22px;
    padding: 0 20px;
    margin-bottom: 30px;
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  top: 5px;
  width: 50px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.partners{
    padding: 50px 0;
}
.slick-slide {
  margin: 0px 20px;
}
.image-slide{
    height: 100px;
}
.slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.parallax{
    background: #fff url(../images/page_slide1.jpg) no-repeat center center/cover fixed;
    padding: 50px 0;
    height: 400px;
}


.testimonial{
    padding: 50px 0;
    background: #f5f5f5;
}
/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
#quote-carousel p{
    font-size: 14px;
    line-height: 20px;
}


.footer{
    padding: 50px 0;
    background: #000;
}
.footer .foot-logo{
    width: 200px;
}
.footer .foot-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .foot-link,
.footer .foot-address,
.footer .foot-about{
    color: #fff;
    margin-bottom: 20px;
}
.footer .foot-link h3,
.footer .foot-address h3,
.footer .foot-about h3{
  padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    display: inline-block;
}
.footer .foot-about p{
  padding-right: 10px;
}
.footer .social-icons{
  margin-bottom: 20px;
}
.footer .social-icons ul li{
    display: inline-block;
    margin-right: 10px;
}
.footer .social-icons ul li a{
    font-size: 16px;
    /*padding: 10px;*/
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    display: block;
    color: #000;
}
.footer .social-icons ul li a:hover{ 
  /*color: blue;*/
  opacity: 0.7;
}
.footer .foot-link ul li{
  padding: 5px 0;
}
.footer .foot-link ul li a{
  color: #fff;
}


@media (max-width: 991px) {
    .menu-bar .menu{
        display: none;
    }
    .main-slider{
        height: auto;
    } 
}